.new-orders{
    display: flex;
    flex-direction: column;
}

.new-order> h2 {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    margin: 0px;
    font-weight: bold;
}


.bloc-tabs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bloc-tabs > div:hover {
    cursor: pointer;

}

.tabs{
    padding: 10px;    
    border-radius: 10px  10px  0px  0px;
}

.tabs-active {
    background: var(--tertiary-bg);
    font-weight: 900;
}

.content{
    display: none;
    flex-direction: column;
}

.content-tabs{
    background: var(--tertiary-bg);
    padding: 10px;
    border-radius: 0px 25px 25px 25px;
    display: flex;
    justify-content: center;
}


.content-active{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    min-width: 600px;
}

.btn-next-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content-products{
    display: flex;
    width: 100%;
    justify-items: center;
}
.content-products-info{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}