.principal-order{
    border-radius: 25px;
    background-color: var(--tertiary-bg);
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(129, 122, 122);
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
}

.border-status-success{
    border: 2px solid var(--success-status);
}

.border-status-incomplete{
    border: 2px solid var(--incomplete-status);
}

.border-status-wrong{
    border: 2px solid var(--wrong-status);
}

.border-status-backlog{
    border: 2px solid var(--backlog-status);
}

.border-status-default{
    border: 2px solid var(--default-status);
}

.order-actions{
    display: flex;
    gap: 10px;
    justify-content: end;
}

.detail-order{
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 1000px; /* debe ser mayor al alto máximo estimado de la tabla */
    opacity: 1;
}

.detail-order.inactive{
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}
