.principal-order{
    border-radius: 25px;
    background-color: var(--tertiary-bg);
    padding: 10px;
    margin: 10px;
}

.order-status-success{
    border: 2px solid var(--success-status);
}

.order-status-incomplete{
    border: 2px solid var(--incomplete-status);
}

.order-status-wrong{
    border: 2px solid var(--wrong-status);
}

.order-status-backlog{
    border: 2px solid var(--backlog-status);
}

.order-actions{
    display: flex;
    gap: 10px;
    justify-content: end;
    padding-right: 5%;
}

.orders-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}