.order-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 75vh;
    overflow-x: hidden;
    padding-bottom: 10px;
}

.order-list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
