.principal-order{
    border-radius: 25px;
    background-color: var(--tertiary-bg);
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(129, 122, 122);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: fit-content;
}

.border-status-success{
    border: 2px solid var(--success-status);
}

.border-status-incomplete{
    border: 2px solid var(--incomplete-status);
}

.border-status-wrong{
    border: 2px solid var(--wrong-status);
}

.border-status-backlog{
    border: 2px solid var(--backlog-status);
}

.border-status-default{
    border: 2px solid var(--default-status);
}

.order-actions{
    display: flex;
    gap: 10px;
    justify-content: end;
}



@media only screen and (max-width:420px) {
    .principal-order{
        width: 300px;
    }
}