.catalogRecord{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.catalogRecord h3 {
    padding: 10px;
    margin: 0px;
}

.catalogRecord .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.producto-img{
    display: flex;
    width: 70px;
    border-radius: 15px;
    object-fit: cover;
    justify-self: start;
    aspect-ratio: 1/1;
    justify-self: center;
}