.content-products{
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 25px;
}
.content-products-info{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.content-products-inputs{
    display: flex;
    flex-direction: row;
}

.content-products-inputs >  div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-product{
    margin-top: 10px;
    align-self: flex-end;
}