.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
}
.option-image {
    width: 70px;
    border-radius: 25px;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.option-label {
    font-size: 1rem;
    color: black;
    font-weight: 500;
    text-align: center;
}

.option.selected {
    background-color: var(--secondary-bg);
}

.option:hover {
    background-color: var(--secondary-bg);
}