.title-catalogos{
    text-align: center;
}
.catalog{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
}


@media only screen and (max-width:820px) {
    .catalog{
        grid-template-columns: 1fr;
    }
}
