.product-cat{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 120px;
    align-items: center;
    color: var(--quinary-font);
    z-index: 100;
    background-color: var(--quinary-bg);
    border-radius: 15px;
    padding: 5px;
    transition: background-color 500ms;
    max-width: 200px;
    scroll-snap-align: center;
}

.product-cat:hover{
    background-color: var(--secondary-bg);
}

.product-cat > img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
}

.product-cat > span{
    color: currentColor;
    font-size: 1rem;
    font-weight: 900;
}

.product-cat-selected{
    background-color: var(--secondary-bg);
}