.detail-order.inactive{
    display: none;
}

.detail-order.active{
    display: block;
}

.product{
    display: flex;
    flex-direction: row;;
    background-color: var(--forty-bg);
    margin: 5px 0px;
    border-radius: 25px;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    padding: 10px;
    width: 200px;
}

.product-segment{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
}

.product-img{
    position: absolute;
    width: 100px;
    height: 90px;
    border-radius: 25px;
    object-fit: cover;
    justify-self: start;
    aspect-ratio: 1/1;
    z-index: 0;
    right: 0px;
    opacity: 0.2;
    top: 0px;
}
.product-segment  h2{
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
    color: var(--quaternary-font);
}

.product-segment  h4{
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
    color: var(--tertiary-font);
}

.product-properties{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.product-properties > li{
    margin: 0px;
    padding: 0px;
}

.product-properties > li > p {
    margin: 0px;
    padding: 0px;
}


.product-totals{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    padding-top: 5px;
}
.product-size{
    text-align: end;
    color: var(--tertiary-font);
    font-weight: bolder;
    font-size: 1.1rem;
}

.product-price{
    text-align: end;
    color: var(--quaternary-font);
    font-weight: bolder;
    font-size: 1.1rem;
}

.icon-actions:hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.1);
}


.product-comments p{
    margin: 0px;
    padding: 0px 0px 0px 5px;
    
}