
.detail-order.inactive{
    display: none;
}

.detail-order.active{
    display: block;
}

.product{
    display: grid;
    grid-template-columns: 15% 30% 30% 20%;
    background-color: var(--forty-bg);
    margin: 5px 0px;
    border-radius: 25px;
    align-items: center;
    justify-items: center;
}

.product-img{
    width: 100px;
    height: 90px;
    border-radius: 25px;
    object-fit: cover;
    justify-self: start;
    aspect-ratio: 1/1;
}
.product-info{
    justify-self: start;
    padding-left: 15px;
}
.product-info > h6{
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
    color: var(--quaternary-font);
}
.product-info > p{
    font-size: 0.9rem;
    margin: 0px 0px 5px 0px;
}

.product-info > p > strong{
    opacity: 1;
    font-size: 1.1rem;
    font-weight: bold;
}

.product-properties{
    list-style: none;
    font-weight: bold;
    padding-left: 15px;
    margin: 0px;
}
.product-properties > p{
    font-weight: normal;
    font-size: 0.9rem;
    margin: 0px 0px 5px 0px;
}

.product-properties > p > strong{
    opacity: 1;
    font-size: 1.1rem;
    font-weight: bold;
}


.product-totals{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
}
.product-size{
    text-align: end;
    color: var(--tertiary-font);
    font-weight: bolder;
    font-size: 1.1rem;
    padding-top: 10px;
}

.product-price{
    text-align: end;
    color: var(--quaternary-font);
    font-weight: bolder;
    font-size: 1.1rem;
    padding-top: 10px;
}


@media only screen and (max-width:820px) {
  
  
    .product{
      position: relative;
      display: flex;
      padding-top: 29px;
      padding-right: 10px ;
      padding-bottom: 10px;
    }
  
    .product-img{
      position: absolute;
      z-index: 0;
      opacity: 0.8;
      top: 0px;
      object-fit: cover;
      height: -webkit-fill-available;
    }
    .product-info{
      z-index: 2;
      
    } 
    .product-info > h6 {
      font-size: 1.2rem;
    }
    .product-info > p {
      font-size: 0.8rem;
    }
  
    .product-properties{
      z-index: 2;
      font-size: 0.8rem;
    }
  
    .product-totals{
      z-index: 2;
      font-size: 0.9rem;
      position: absolute;
      background-color: rgba(33, 19, 13, 0.5);
      top: 0px;
      z-index: 1;
      border-radius: 25px;
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      padding-right: 10px;
      flex-direction: row;
      justify-content: end;
      gap: 20px;
    }
}