.detail-order.inactive{
    display: none;
}

.detail-order.active{
    display: block;
}

.product{
    display: flex;
    flex-direction: row;;
    background-color: var(--forty-bg);
    margin: 5px 0px;
    border-radius: 25px;
    justify-content: space-around;
}

.product-segment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.product-img{
    width: 100px;
    height: 90px;
    border-radius: 25px;
    object-fit: cover;
    justify-self: start;
    aspect-ratio: 1/1;
}
.product-info{
    justify-self: start;
}
.product-info > h6{
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
    color: var(--quaternary-font);
}
.product-info > p{
    font-size: 0.9rem;
    margin: 0px 0px 5px 0px;
}

.product-info > p > strong{
    opacity: 1;
    font-size: 1.1rem;
    font-weight: bold;
}

.product-properties{
    list-style: none;
    font-weight: bold;
    padding-left: 15px;
    margin: 0px;
}
.product-properties > p{
    font-weight: normal;
    font-size: 0.9rem;
    margin: 0px 0px 5px 0px;
}

.product-properties > p > strong{
    opacity: 1;
    font-size: 1.1rem;
    font-weight: bold;
}


.product-totals{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
}
.product-size{
    text-align: end;
    color: var(--tertiary-font);
    font-weight: bolder;
    font-size: 1.1rem;
}

.product-price{
    text-align: end;
    color: var(--quaternary-font);
    font-weight: bolder;
    font-size: 1.1rem;
}
.product-actions{
    padding: 4px;

}
.icon-actions:hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.1);
}

@media only screen and (max-width:820px) {
  
  
    .product{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
    }

    .product-segment{
        justify-content: space-between;
    }
    
  
    .product-img{
      position: absolute;
      z-index: 0;
      left: 0px;
      opacity: 0.1;
      top: 0px;
      object-fit: cover;
      height: -webkit-fill-available;
    }
    .product-info{
      z-index: 2;
      
    } 
    .product-info > h6 {
      font-size: 1.2rem;
    }
    .product-info > p {
      font-size: 0.8rem;
    }
  
    .product-properties{
      z-index: 2;
      font-size: 0.8rem;
    }
  
    .product-totals{

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
      }

    .product-actions{
        align-self: center;
    }
}