
.order-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 25px;
    align-items: center;
    padding: 3px 0px 3px 0px;
    
}
.order-info > * {
    flex: 1;
}

.order-info:hover{
    transition: all 500ms;
}
.order-information{
    display: flex;
    flex-direction: column;
}
.order-information > span {
    font-size: 1.1rem;
    font-weight: bolder;
    font-weight: 700;
}

.order-information > p {
    font-size: 1rem;
    margin: 1px;
    font-weight: bold;
    opacity: 0.8;
}

.order-total{
    justify-self: start;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.order-total > p{
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}

.order-data{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    align-self: stretch;
    padding: 0px 15px;
}
.order-data > span{
    font-size: 1rem;
    font-weight: bold;
}
.order-data > p{
    font-size: 0.7rem;
    font-weight: bolder;
    opacity: 0.8;
    margin: 0px;
    padding: 0px;
    text-align: right;;
}

.order-icon-status{
    width: fit-content;
    flex: 0;
    margin: 0px 20px;
}

.order-button-detail {
    background: none;
    border: none;
    color: var(--primary-font);
    justify-self: end;
    cursor: pointer;
    z-index: 10;
    width: fit-content;
    flex: 0;
    margin: 0px 20px;
}



@media only screen and (max-width:820px) {
  
  
    /*Order info file component*/
    .order-info {
      display: grid;
      grid-template: "status information information information information information" 
                    "total  data data data data data";
      padding: 5px;
      row-gap: 10px;
      justify-items: center;
      justify-content: stretch;
      position: relative;
    }
  
  
    .order-icon-status{
      display: grid;
      grid-area: status;
    }
  
    .order-icon-status > svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  
    .order-information{
      display: grid;
      grid-area: information;
      gap: 0px;
      justify-self: start;
    }
  
    .order-information > span {
      font-size: 1.2rem;
    }
  
    .order-information > p {
      font-size: 0.8rem;
    }
  
    .order-total{
      display: grid;
      grid-area: total;
      gap: 0px;
      font-size: 0.9rem;
    }
    .order-data{
      display: grid;
      grid-area: data;
    }
    .order-button-detail{
      display: grid;
      grid-area: detail;
      position: absolute;
      justify-self: end;
      align-self: center;
      margin-right: 0px;
      padding-right: 10px;
    }
  
    .order-button-detail > svg {
      margin: 0px;
      padding: 0px;
      height:  2rem;
      width: 2rem;
    }
  
    .order-button-detail > svg:hover {
      scale: 1.2;
    }
}