
.detailOrder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.detailOrder-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--tertiary-bg);
    padding: 10px;
    border-radius: 25px;
}

.detailOrder-products{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.detail-title{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.button-back{
    background: none;
    color: var(--primary-font);
    border: none;
    justify-self: flex-start;
}