
.detailOrder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.detailOrder-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--tertiary-bg);
    padding: 10px;
    border-radius: 25px;
    
    width: 80%;
}

.detailOrder-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.detail-title{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.button-back{
    background: none;
    color: var(--primary-font);
    border: none;
    justify-self: flex-start;
}

.order-actions{
    display: flex;
    gap: 10px;
    justify-content: end;
    width: 100%;
}
.orderDetail{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}


.orderDetail-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.orderDetail-info p{
    margin: 0px;
    padding: 0px;
}

.orderDetail-details{
    display: flex;
    flex-direction: column;
}

.orderDetail-details  span{
    font-weight: bolder;
}



@media only screen and (max-width:600px) {
  
.orderDetail{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}


.orderDetail-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.orderDetail-info p{
    margin: 0px;
    padding: 0px;
}

.orderDetail-details{
    display: flex;
    flex-direction: column;
}

.orderDetail-details  span{
    font-weight: bolder;
}

.orderDetail-iconStatus{
    display: none;
}
}