.detailOrder-section{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.detailOrder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.detailOrder-container-produts{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tertiary-bg);
    padding: 20px;
    border-radius: 25px;
    gap: 10px;
    height: fit-content;
    min-width: 700px;
}

.detailOrder-container-resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tertiary-bg);
    padding: 20px;
    border-radius: 25px;
    gap: 10px;
    height: fit-content;
    min-width: 300px;
}

.detailOrder-products{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
    gap: 10px;
}
.detail-title{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.button-back{
    background: none;
    color: var(--primary-font);
    border: none;
    justify-self: flex-start;
}

.order-buttons{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.orderDetail-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    min-width: 250px;
}

.orderDetail-info p{
    margin: 0px;
    padding: 0px;
}

.orderDetail-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0px;
}

.orderDetail-details  span{
    font-weight: bolder;
}

.orderDetail-iconStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


@media only screen and (max-width:600px) {
  
.orderDetail{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}


.orderDetail-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.orderDetail-info p{
    margin: 0px;
    padding: 0px;
}

.orderDetail-details{
    display: flex;
    flex-direction: column;
}

.orderDetail-details  span{
    font-weight: bolder;
}

.orderDetail-iconStatus{
    display: none;
}
}