.calendar-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.calendar-controls > button{
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.calendar-controls > input{
  padding: 5px;
  cursor: pointer;
}
.calendar-days {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.dia-calendar-outside-month {
  opacity: 0;
} 

.calendar-week{
  display: flex;
  gap: 8px; 
  width: 100% ;
}

@media only screen and (max-width:820px) {
    
  .calendar-week{
    flex-direction: column;
  }

  .dia-calendar-lista{
    min-height: 0px; 
    overflow-y: hidden;
    height: auto;
    max-height: 100%;
  }
  .dia-calendar-outside-month{
    display: none;
  }
}