.carousel-container{
    background-color: var(--quinary-bg);
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    color: black;    width: 100%;
    justify-content: center;
}
.carousel-container::-webkit-scrollbar {
    display: none;
  }

 