.sidebar{
    display: flex;
    width: 250px;
    background: var(--secondary-bg);
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.sidebar-logo {
    padding-top: 30px;
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
}

.sidebar-title{
    margin: 0px;
    padding-top: 0px;
    font-size: 3rem;
    text-align: center;
    font-family: 'Style Script', cursive;
    line-height: 35px;
    color: var(--secondary-font);
}