.modal{
    z-index: 9;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-products{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 25px;
}
.content-products-info{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.content-products-inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-products-inputs >  div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-product-buttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:820px) {
  
  

    /*Form products component*/
    .content-products-inputs{
      flex-direction: column;
    }
  
    .carousel-container  {
      width: 250px;
    }
}