
:root{
  --primary-bg : #0B1320;
  --secondary-bg: #49D5C5;
  --tertiary-bg: #14395c;
  --forty-bg : #333333;
  --quinary-bg: #ffffff;

  --primary-font: #ffffff;
  --secondary-font: #66480B;
  --tertiary-font : #DAA614;
  --quaternary-font: #6BEDCE;
  --quinary-font: #0B1320;

  --success-status: #72DD76;
  --wrong-status: #FF6262;
  --backlog-status: #E2E539;
  --incomplete-status:#e08032;
  --default-status:#ffffff;
  
  --primary-btn:#3164F4;
  --secondary-btn: #FF6262;
  --tertiary-btn: #72DD76;
  --quaternary-btn: #a00303;
}

body{
  background: var(--quinary-bg);
  color: var(--primary-font);
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--forty-bg); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-bg);
}