:root{
  --primary-bg : #0B1320;
  --secondary-bg: #49D5C5;
  --tertiary-bg: #1C3F60;
  --forty-bg : #333333;
  --quinary-bg: #ffffff;

  --primary-font: #ffffff;
  --secondary-font: #66480B;
  --tertiary-font : #DAA614;
  --quaternary-font: #6BEDCE;
  --quinary-font: #0B1320;

  --success-status: #72DD76;
  --wrong-status: #FF6262;
  --backlog-status: #E2E539;
  --incomplete-status:#e08032;
  
  --primary-btn:#3164F4;
  --secondary-btn: #FF6262;
  --tertiary-btn: #72DD76;
}

body{
  background: var(--primary-bg);
  color: var(--primary-font);
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

.color-success{
  color: var(--success-status);
}

.color-wrong{
  color: var(--wrong-status);
}

.color-backlog{
  color: var(--backlog-status);
}

.form-input{
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-width: 350px;
  font-size: 1rem;
  min-width: 300px;
  color: var(--quinary-font);
  font-weight: 500;
}


.form-input > label{
  padding-bottom: 5px;
  color: var(--primary-font);
}

.form-input > input{
  border-radius: 10px;
  line-height: 35px;
  font-size: 0.9rem;
  padding-left: 10px;
}

.form-input > svg{
  position: absolute;
  display: flex;
  align-self: flex-end;
  padding-top: 35px;
  padding-right: 10px;
  color: var(--primary-bg);
}

.form-input > textarea{
  border-radius: 10px;
  line-height: 25px;
  font-size: 0.8rem;
  padding-left: 10px;
  max-height: 90px;
  max-width: 300px;
  height: max-content;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  padding-right: 10px;
  color: var(--primary-bg);
  opacity: 1;
  font-size: 1rem;
}

.btn-next{
  background-color: var(--primary-btn);
  color: var(--primary-font);
  border-style: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-success{
  background-color: var(--tertiary-btn);
  color: var(--primary-font);
  border-style: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-end;
  margin: 8px 0px;
}

.btn-cancel{
  background-color: var(--secondary-btn);
  color: var(--primary-font);
  border-style: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin: 8px 0px;
}

.btn-add{
  background-color: var(--secondary-bg);
  color: var(--primary-font);
  border-style: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-end;
  margin: 8px 0px;
}

button {
  transition: all 0.2s ease;
}

button:hover{
  scale: 1.1;
  opacity: 0.9;
}

.form-select {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-width: 350px;
  font-weight: bolder;
  font-size: 1rem;
  min-width: 300px;
  color: var(--quinary-font);
}

.form-select > label {
  padding-bottom: 5px;
  color: var(--primary-font);
}

.form-select > select {
  border-radius: 10px;
  height: 35px;
  font-size: 0.8rem;
  padding-left: 10px;
}
.form-select > div{
  padding-top: 5px ;
  
}

hr{
  min-width: 100%;
}

.btn-sm{
  font-size: 1rem;
  padding: 10px;
}

.btn-md{
  font-size: 1.2rem;
  padding: 15px;
}

.btn-lg{
  font-size: 1.5rem;
  padding: 20px;
}

@media only screen and (min-width: 821px) and (max-width:1200px) {
  .main{
    padding: 0px 100px;
  } 
}


@media only screen and (min-width: 1201px) and (max-width:1400px) {
  .main{
    padding: 0px 200px;
  } 
}

@media only screen and (max-width:820px) {
  .main{
    padding: 0px 10px;
  } 
  
  /*Header component*/
  .header-info{
    gap: 2px;
  }

  .header-title{
    font-size: 1.3rem;
  }

  .header-user > * {
    font-size: 1rem;
  }

  /*Orders component css class*/
  .orders > h2 {
    font-size: 1.6rem;
  }

  .orders  > a > svg {
    height: 2.5rem;
    width: 2.5rem;
    padding-top: 10px;
  }

  .principal-order{
    padding: 5px;
    margin: 5px;
  }
  /*Order info file component*/
  .order-info {
    display: grid;
    grid-template: "status information information information information information" 
                  "total  data data data data data";
    padding: 5px;
    row-gap: 10px;
    justify-items: center;
    justify-content: stretch;
    position: relative;
  }


  .order-icon-status{
    display: grid;
    grid-area: status;
  }

  .order-icon-status > svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .order-information{
    display: grid;
    grid-area: information;
    gap: 0px;
    justify-self: start;
  }

  .order-information > span {
    font-size: 1.2rem;
  }

  .order-information > p {
    font-size: 0.8rem;
  }

  .order-total{
    display: grid;
    grid-area: total;
    gap: 0px;
    font-size: 0.9rem;
  }
  .order-data{
    display: grid;
    grid-area: data;
  }
  .order-button-detail{
    display: grid;
    grid-area: detail;
    position: absolute;
    justify-self: end;
    align-self: center;
    margin-right: 0px;
    padding-right: 10px;
  }

  .order-button-detail > svg {
    margin: 0px;
    padding: 0px;
    height:  2rem;
    width: 2rem;
  }

  .order-button-detail > svg:hover {
    scale: 1.2;
  }

  /*Class order component file*/

  .product{
    position: relative;
    display: flex;
    padding-top: 29px;
    padding-right: 10px ;
    padding-bottom: 10px;
  }

  .product-img{
    position: absolute;
    z-index: 0;
    opacity: 0.8;
    top: 0px;
    object-fit: cover;
    height: -webkit-fill-available;
  }
  .product-info{
    z-index: 2;
    
  } 
  .product-info > h6 {
    font-size: 1.2rem;
  }
  .product-info > p {
    font-size: 0.8rem;
  }

  .product-properties{
    z-index: 2;
    font-size: 0.8rem;
  }

  .product-size{
    z-index: 2;
    font-size: 0.9rem;
    position: absolute;
    background-color: rgba(33, 19, 13, 0.5);
    top: 0px;
    z-index: 1;
    border-radius: 25px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding-right: 10px;
  }

  /*Form products component*/
  .content-products-inputs{
    flex-direction: column;
  }

  .carousel-container  {
    width: 250px;
  }

  /*Buttons*/
  .btn-sm{
    font-size: 0.7rem;
    padding: 8px;
  }
}

hr{
  margin: 0px;
  padding: 0px;
}