:root{
  --primary-bg : #0B1320;
  --secondary-bg: #49D5C5;
  --primary-font: white;
  --secondary-font: #66480B;
  --tertiary-font : #DAA614;
  --quaternary-font: #6BEDCE;
  --success-status: #72DD76;
  --wrong-status: #FF6262;
  --waiting-status: #E2E539;
}

body{
  background: var(--primary-bg);
  color: var(--primary-font);
  font-family: 'Roboto', sans-serif;
}