.orders{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.orders > p{
    padding: 10px 0px;
    margin: 0px;
    font-size: 1.2rem;
    font-weight: bold;
}

.orders > a:hover {
    transform: scale(1.1);
    transition: 300ms ease;
}

.orders-filters{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.periodo-filter{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.status-filters{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.status-filters > span {
    position: absolute;
    left: 0px;
    top: -3px;
}

.orders-options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-picker{
    border-radius: 10px;
    color: white;
}

.rs-picker{
    align-self: center;
}

.rs-picker-daterange-content{
    color: var(--quinary-font);
    font-weight: bold;
}

.rs-btn-link{
    color: var(--quinary-font) !important;
    font-weight: bold !important;
}


@media only screen and (max-width:820px) {
  
    .orders-filters{
        justify-content: center;
    }

    .orders-options{
        justify-content: center;
    }

    .periodo-filter{
        width: 100%;
    }
    
    .status-filters{
        justify-content: center;
    }

    .btn-pill{
        padding: 10px;
    }

    /*Orders component css class*/
    .orders > h2 {
      font-size: 1.6rem;
    }
  
    .orders  > a > svg {
      height: 2.5rem;
      width: 2.5rem;
      padding-top: 10px;
    }
  
}